
.menu-item {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: #d62938;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 8px;
}

.title-menu {
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    align-items: center;
    cursor: pointer;
}